<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>93206224262-6vujqo0h2uiqg74necvl44lh51nor80d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.93206224262-6vujqo0h2uiqg74necvl44lh51nor80d</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>93206224262-4a65llut9kppak6cknp1i07ibs762qqp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCG_YiL9sFvy7QVdP4ABaFU-6VneV-bzLY</string>
	<key>GCM_SENDER_ID</key>
	<string>93206224262</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.StickyNotes.SugoPhApp</string>
	<key>PROJECT_ID</key>
	<string>sugoph-11fb0</string>
	<key>STORAGE_BUCKET</key>
	<string>sugoph-11fb0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:93206224262:ios:6276aa2b5c19212e</string>
	<key>DATABASE_URL</key>
	<string>https://sugoph-11fb0.firebaseio.com</string>
</dict>
</plist>